<a class="btn left" ui-sref="dashboard">Back to Scoring</a>
<div class="topic">
<hr>
<p>CRITERIA</p>
<hr>
</div>
<h2>The Reflective Judgment Model</h2>
<a href="http://www.umich.edu/~refjudg/reflectivejudgmentmodel.html">http://www.umich.edu/~refjudg/reflectivejudgmentmodel.html</a>

<p>In the 
twenty years since its inception, The Reflective Judgment Model 
has distinguished itself by its ability to describe the development 
of reasoning from adolescence to adulthood. An extensive database 
containing both longitudinal and cross-sectional research has informed 
the work of developmental and educational psychologists, college 
faculty, student affairs educators, and those concerned with college 
outcomes assessment. The Reflective Judgment Model describes changes 
in epistemic assumptions and how these affect the development of 
critical or reflective thinking skills and related constructs in 
young adults and adults, especially college students.</p>
<p>John 
Dewey (1933, 1938) observed that reflective thinking is called for 
when people recognize that some problems cannot be solved with certainty. 
Drawing from this observation, King and Kitchener chose the term 
"reflective judgment" to describe the kind of epistemic 
cognition that includes the recognition that real uncertainty exists 
about some issues. The Reflective Judgment Model describes development 
in reasoning about such issues in late adolescence through adulthood. 
</p>
<p>Reflective 
judgment is drawn from the theoretical work of many scholars. Listed 
below are scholars whose work informed the development of the Reflective 
Judgment Model, and how their work contributed to the model.<br>
</p>
<ul>
<li>John 
Dewey (1933, 1938): definition of reflective thinking; the observation 
that uncertainty is a characteristic of the search for knowledge</li>
<li>Piaget 
(1960, 1970 [1956], 1974): assumptions of stage-related development; 
the processes of assimilation and accommodation account for changes 
in the conceptual structures used to understand the world</li>
<li>Flavell 
(1963, 1971, 1977): stage models generally assume that there are 
qualitatively different structures organized into logically coherent 
systems or stages; stages appear in an invariant sequence</li>
<li>Perry 
(1968, 1981): sequential development in college students' underlying 
assumptions about knowledge, truth, and values</li>
<li>Broughton 
(1975, 1978): epistemological development after relativism; earliest 
stages of epistemological development are more characteristic 
of children than college students</li>
<li>Fischer 
(1980; Lamborn &amp; Fischer, 1988): cognitive skill theory model 
of the development of complex reasoning; an individual's developmental 
range falls between optimal and functional levels</li>
<li>Kegan 
(1982, 1994): evolution of the self; interpersonal relationships 
as a developmental continuum<br>
</li>
</ul>
<h4>The 
Reflective Judgment Model describes a dimension of cognitive development 
based on the work of these scholars. </h4>
<h3>Overview 
of the Reflective Judgment Model's Three Developmental Periods</h3>
<p>The 
conceptual framework for reflective judgment is that of a stage 
model characterized by seven distinct but developmentally related 
sets of assumptions about the process of knowing (view of knowledge) 
and how it is acquired (justification of beliefs). Each successive 
set of epistemological assumptions is characterized by a more complex 
and effective form of justification. The seven developmental stages 
of the Reflective Judgment Model may be broadly summarized into 
three levels: prereflective (Stages 1-3), quasi-reflective (Stages 
4 and 5), and reflective (Stages 6 and 7) thinking.</p>
<p><strong>Prereflective 
Reasoning</strong> (Stages 1-3): Belief that "knowledge is gained 
through the word of an authority figure or through firsthand observation, 
rather than, for example, through the evaluation of evidence. [People 
who hold these assumptions] believe that what they know is absolutely 
correct, and that they know with complete certainty. People who 
hold these assumptions treat all problems as though they were well-structured" 
(King &amp; Kitchener, 2002, p. 39).<br>
<br>
<strong>Quasi-Reflective Reasoning</strong> (Stages 4 and 5): Recognition 
"that knowledge-or more accurately, knowledge claims-contain 
elements of uncertainty, which [people who hold these assumptions] 
attribute to missing information or to methods of obtaining the 
evidence. Although they use evidence, they do not understand how 
evidence entails a conclusion (especially in light of the acknowledged 
uncertainty), and thus tend to view judgments as highly idiosyncratic" 
(King and Kitchener, 2002, p. 40).<br>
<br>
<strong>Reflective Reasoning</strong> (Stages 6 and 7): People who hold these 
assumptions accept "that knowledge claims cannot be made with 
certainty, but [they] are not immobilized by it; rather, [they] 
make judgments that are "most reasonable" and about which 
they are "relatively certain," based on their evaluation 
of available data. They believe they must actively construct their 
decisions, and that knowledge claims must be evaluated in relationship 
to the context in which they were generated to determine their validity. 
They also readily admit their willingness to reevaluate the adequacy 
of their judgments as new data or new methodologies become available" 
(King &amp; Kitchener, 2002, p. 40).</p>
<p>&nbsp;</p><p>&nbsp;</p>
